body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5177f6), to(#b478d7));
  background-image: linear-gradient(to bottom right, #5177f6, #b478d7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

body.permissions, body.modifyDb {
  overflow-y: auto;
}

body h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
}

body h2 {
  color: #AAAAAA;
  font-size: 2.5rem;
  font-weight: 400;
}

body h3 {
  color: #888888;
  font-size: 1.5rem;
  font-weight: 400;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form .permissions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form .permissions-wrapper .permission-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form select {
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 3px 3px 10px #505050;
          box-shadow: 3px 3px 10px #505050;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
  text-indent: 10px;
  width: 300px;
}

body form input {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px #50505056;
          box-shadow: 0px 5px 10px #50505056;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  padding: 0 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
}

body form input[type=text], body form input[type=password], body form input[type=number], body form input[type=date], body form input[type=tel] {
  text-indent: 10px;
  width: 300px;
}

body form input[type=submit] {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
}

body form input[type=submit]:hover {
  background-color: #3e2e9066;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body form input[type=checkbox] {
  width: 26px;
}

body form input[type=file] {
  width: auto;
  padding: 0;
  color: #fff;
  text-align: center;
}

body form textarea {
  border-radius: 8px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px #50505056;
          box-shadow: 0px 5px 10px #50505056;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  font-size: 20px;
  color: rgba(100, 100, 100, 0.7);
  padding: 30px;
}

body a {
  cursor: pointer;
  width: 300px;
  line-height: 50px;
  background-color: #fff;
  color: #666;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 25px;
  margin: 11px 4px;
  padding: 0 25px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 10px #50505056;
          box-shadow: 0px 5px 10px #50505056;
}

body a:hover {
  background-color: #3e2e9066;
  color: white;
}

body .disconnect {
  width: auto;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

body .disconnect:hover {
  background-color: #da090980;
}

body .return {
  width: auto;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

body .return:hover {
  background-color: #2a33b67e;
}

body .database-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 25%;
}

body .database-wrapper a.icon {
  cursor: pointer;
  width: auto;
  background-color: transparent;
  color: none;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  border-radius: none;
  -webkit-transition-property: none;
  transition-property: none;
  font-size: 25px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  -webkit-box-shadow: none;
          box-shadow: none;
}

body .database-wrapper a.icon:hover {
  background-color: transparent;
  color: none;
}

body .database-wrapper a.addTable {
  border-radius: 30px;
  width: auto;
}

body .database-wrapper a.addSchema {
  border-radius: 30px;
  width: 100%;
}

body .database-wrapper .schema-wrapper,
body .database-wrapper .table-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 20px;
  height: 150px;
  width: 100%;
}

body .database-wrapper .schema-wrapper .schema-left,
body .database-wrapper .schema-wrapper .table-left,
body .database-wrapper .table-wrapper .schema-left,
body .database-wrapper .table-wrapper .table-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48%;
}

body .database-wrapper .schema-wrapper .schema-right,
body .database-wrapper .schema-wrapper .table-right,
body .database-wrapper .table-wrapper .schema-right,
body .database-wrapper .table-wrapper .table-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  height: 80%;
  width: 48%;
}

body .database-wrapper .table-wrapper {
  height: 100px;
  width: 60%;
}

body p {
  color: #fff;
  font-size: 1.3rem;
  text-shadow: 1px 1px #000;
}

body label {
  color: #fff;
  font-size: 20px;
}

body .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
/*# sourceMappingURL=main.css.map */