body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#5177f6), to(#b478d7));
  background-image: linear-gradient(to bottom right, #5177f6, #b478d7);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  overflow: hidden;
  height: auto;
  min-height: 100vh;
  width: 100%;
}

body.permissions {
  overflow-y: auto;
}

body h1 {
  color: #FFFFFF;
  font-size: 3rem;
  font-weight: 400;
}

body form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body form .form-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form .permissions-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body form .permissions-wrapper .permission-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body form select {
  border-radius: 100px;
  border: none;
  -webkit-box-shadow: 3px 3px 10px #505050;
          box-shadow: 3px 3px 10px #505050;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
  text-indent: 10px;
  width: 300px;
}

body form input {
  cursor: pointer;
  border-radius: 50px;
  border: none;
  -webkit-box-shadow: 0px 5px 10px #50505056;
          box-shadow: 0px 5px 10px #50505056;
  -webkit-transition: -webkit-box-shadow 0.3s;
  transition: -webkit-box-shadow 0.3s;
  transition: box-shadow 0.3s;
  transition: box-shadow 0.3s, -webkit-box-shadow 0.3s;
  margin: 20px;
  padding: 0 20px;
  font-size: 1.3rem;
  color: rgba(100, 100, 100, 0.7);
  height: 50px;
  width: 200px;
}

body form input[type=text], body form input[type=password], body form input[type=number], body form input[type=date], body form input[type=tel] {
  text-indent: 10px;
  width: 300px;
}

body form input[type=submit] {
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-transform: uppercase;
  text-align: center;
  width: 150px;
}

body form input[type=submit]:hover {
  background-color: #3e2e9066;
  color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body form input[type=checkbox] {
  width: 26px;
}

body a {
  cursor: pointer;
  width: 300px;
  line-height: 50px;
  background-color: #fff;
  color: #666;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  border: none;
  border-radius: 50px;
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
  font-size: 25px;
  margin: 11px 4px;
  padding: 0 25px;
  text-align: center;
  -webkit-box-shadow: 0px 5px 10px #50505056;
          box-shadow: 0px 5px 10px #50505056;
}

body a:hover {
  background-color: #3e2e9066;
  color: white;
}

body .disconnect {
  width: auto;
  font-size: 20px;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px;
}

body .disconnect:hover {
  background-color: #da090980;
}

body .return {
  width: auto;
  font-size: 20px;
  position: absolute;
  top: 0;
  left: 0;
  margin: 20px;
}

body .return:hover {
  background-color: #2a33b67e;
}

body p {
  color: red;
  font-size: 1.3rem;
  text-shadow: 1px 1px #000;
}

body label {
  color: #fff;
  font-size: 20px;
}

body .buttons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 70%;
}

body .cards-wrapper .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  border-radius: 30px;
  margin: 20px;
  height: 250px;
  width: 450px;
}

body .cards-wrapper .card .booking-card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px #000;
  height: 80%;
  width: 30%;
}

body .cards-wrapper .card .booking-card-left h1 {
  color: #000;
}

body .cards-wrapper .card .booking-card-left p {
  color: #000;
}

body .cards-wrapper .card .booking-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 70%;
}

body .cards-wrapper .card .booking-card-right .booking-card-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .booking-card-right .booking-card-member h2 {
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

body .cards-wrapper .card .booking-card-right .booking-card-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .booking-card-right .booking-card-label p {
  text-shadow: none;
  color: #64646499;
  text-align: left;
}

body .cards-wrapper .card .facility-card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px #000;
  height: 80%;
  width: 30%;
}

body .cards-wrapper .card .facility-card-left h1 {
  color: #000;
}

body .cards-wrapper .card .facility-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 70%;
}

body .cards-wrapper .card .facility-card-right .facility-card-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .facility-card-right .facility-card-name h2 {
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

body .cards-wrapper .card .facility-card-right .facility-card-prices {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .facility-card-right .facility-card-prices p {
  text-shadow: none;
  color: #64646499;
  text-align: left;
}

body .cards-wrapper .card .member-card-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: solid 1px #000;
  height: 80%;
  width: 30%;
}

body .cards-wrapper .card .member-card-left h1 {
  color: #000;
}

body .cards-wrapper .card .member-card-left p {
  color: #000;
}

body .cards-wrapper .card .member-card-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 70%;
}

body .cards-wrapper .card .member-card-right .member-card-member {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .member-card-right .member-card-member h2 {
  text-transform: uppercase;
  text-align: left;
  width: 100%;
}

body .cards-wrapper .card .member-card-right .member-card-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
}

body .cards-wrapper .card .member-card-right .member-card-label p {
  text-shadow: none;
  color: #64646499;
  text-align: left;
}
/*# sourceMappingURL=main.css.map */