body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #5177f6, #b478d7);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
    height: auto;
    min-height: 100vh;
    width: 100%;

    &.permissions {
        overflow-y: auto;
    }

    h1 {
        color: #FFFFFF;
        font-size: 3rem;
        font-weight: 400;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .form-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;
            flex-direction: column;
        }

        .permissions-wrapper {
            display: flex;
            justify-content: space-around;
            align-items: center;

            .permission-item {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
            }
        }

        select {
            border-radius: 100px;
            border: none;
            box-shadow: 3px 3px 10px #505050;
            transition: box-shadow 0.3s;
            margin: 20px;
            font-size: 1.3rem;
            color: rgba(100, 100, 100, 0.7);
            height: 50px;
            width: 200px;
            text-indent: 10px;
            width: 300px;
        }

        input {
            cursor: pointer;
            border-radius: 50px;
            border: none;
            box-shadow: 0px 5px 10px #50505056;
            transition: box-shadow 0.3s;
            margin: 20px;
            padding: 0 20px;
            font-size: 1.3rem;
            color: rgba(100, 100, 100, 0.7);
            height: 50px;
            width: 200px;
            &[type=text],
            &[type=password],
            &[type=number],
            &[type=date],
            &[type=tel] {
                text-indent: 10px;
                width: 300px;
            }
            &[type=submit] {
                background-color: #fff;
                transition: 0.3s;
                text-transform: uppercase;
                text-align: center;
                width: 150px;
            }
            &[type=submit]:hover {
                background-color: #3e2e9066;
                color: #fff;
                transition: 0.3s;
            }
            &[type=checkbox] {
                width: 26px;
            }
            &[type=file] {
                width: auto;
                padding: 0;
                color: #fff;
                text-align: center;
            }
        }
    }

    
    a {
        cursor: pointer;
        width: 300px;
        line-height: 50px;
        background-color: #fff;
        color: #666;
        text-align: center;
        vertical-align: middle;
        text-decoration: none;
        border: none;
        border-radius: 50px;
        transition-property: color, background-color;
        transition-duration: 0.3s;
        font-size: 25px;
        margin: 11px 4px;
        padding: 0 25px;
        text-align: center;
        box-shadow: 0px 5px 10px #50505056;

        &:hover {
            background-color: #3e2e9066;
            color: white;
        }
    }

    .disconnect {
        width: auto;
        font-size: 20px;
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;

        &:hover {
            background-color: #da090980;
        }
    }

    .return {
        width: auto;
        font-size: 20px;
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;

        &:hover {
            background-color: #2a33b67e;
        }
    }

    p {
        color: red;
        font-size: 1.3rem;
        text-shadow: 1px 1px #000;
    }

    label {
        color: #fff;
        font-size: 20px;
    }

    .buttons-wrapper {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
    }


    .cards-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 70%;

        .card {
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #fff;
            border-radius: 30px;
            margin: 20px;
            height: 250px;
            width: 450px;

            .booking-card-left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                border-right: solid 1px #000;
                height: 80%;
                width: 30%;
                h1 {
                    color: #000;
                }
                p {
                    color: #000;
                }
            }
            .booking-card-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 80%;
                width: 70%;
                .booking-card-member {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 90%;
                    h2 {
                        text-transform: uppercase;
                        text-align: left;
                        width: 100%;
                    }
                }
                .booking-card-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    p {
                        text-shadow: none;
                        color: #64646499;
                        text-align: left;
                    }
                }
            }
        
            .facility-card-left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                border-right: solid 1px #000;
                height: 80%;
                width: 30%;
                h1 {
                    color: #000;
                }
            }
            .facility-card-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 80%;
                width: 70%;
                .facility-card-name {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 90%;
                    h2 {
                        text-transform: uppercase;
                        text-align: left;
                        width: 100%;
                    }
                }
                .facility-card-prices {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    p {
                        text-shadow: none;
                        color: #64646499;
                        text-align: left;
                    }
                }
            }

            .member-card-left {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                border-right: solid 1px #000;
                height: 80%;
                width: 30%;
                h1 {
                    color: #000;
                }
                p {
                    color: #000;
                }
            }
            .member-card-right {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-direction: column;
                height: 80%;
                width: 70%;
                .member-card-member {
                    display: flex;
                    justify-content: space-around;
                    align-items: center;
                    width: 90%;
                    h2 {
                        text-transform: uppercase;
                        text-align: left;
                        width: 100%;
                    }
                }
                .member-card-label {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 90%;
                    p {
                        text-shadow: none;
                        color: #64646499;
                        text-align: left;
                    }
                }
            }
        }
    }
    
    
}